.DS_Store
ARHandDev/ARHandDev.xcodeproj/xcuserdata/stephanie.xcuserdatad/xcdebugger/
/ARHandDev/ARHandDev.xcodeproj/project.xcworkspace/xcuserdata/a.u.rehmanhotmail.co.uk.xcuserdatad
/ARHandDev/ARHandDev.xcodeproj/xcuserdata/a.u.rehmanhotmail.co.uk.xcuserdatad
